<div class="container">
                    <div class="row">
                        <div class="heading-title text-center">
                          <h3 style="color:#8980fe;" class="text-uppercase">Team</h3>
                            <p style="color: white;" class="p-top-30 half-txt">Our team is diverse and spans across 3 continents. We are passionate about technology and the benefits it has on society.</p>
                        </div>

                        <div class="col-md-4 col-sm-4">
                            <div class="team-member">
                                <div class="team-img">
                                    <img src="https://www.kickico.com/assets/_images/10931/a641a1acbf7acc5.jpeg">
                                </div>
                                <div class="team-hover">
                                    <div class="desk">
                                      <h4 style="color:#ffffff;">Finance</h4>
                                      <p style="color:#ffffff;">Born in South Africa</p>
                                    </div>
                                    <div class="s-link">
                                        <a href="#"><font color="#8980fe"><i class="fa fa-facebook"></i></font></a>
                                        <a href="#"><font color="#8980fe"><i class="fa fa-twitter"></i></font></a>
                                        <a href="#"><font color="#8980fe"><i class="fa fa-google-plus"></i></font></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-title">
                              <h5 style="color:#ffffff;">Tiaan Basson</h5>
                                  <span style="color:#ffffff;">Founder / CEO</span>
                            </div>
                        </div>
                        <div class="col-md-5 col-sm-5">
                            <div class="team-member">
                                <div class="team-img">
                                    <img src="https://www.kickico.com/assets/_images/10931/0c7689aa79ae27c.jpeg">
                                </div>
                                <div class="team-hover">
                                    <div class="desk">
                                      <h4 style="color:#ffffff;">Tech</h4>
                                      <p style="color:#ffffff;">From the US</p>
                                    </div>
                                    <div class="s-link">
                                        <a href="#"><font color="#8980fe"><i class="fa fa-facebook"></i></font></a>
                                        <a href="#"><font color="#8980fe"><i class="fa fa-twitter"></i></font></a>
                                        <a href="#"><font color="#8980fe"><i class="fa fa-google-plus"></i></font></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-title">
                              <h5 style="color:#ffffff;">Erich Wassermann</h5>
                              <span style="color:#ffffff;">Co-Founder / CTO</span>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="team-member">
                                <div class="team-img">
                                    <img src="https://www.kickico.com/assets/_images/10931/d04c42257e4d7e4.jpeg">
                                </div>
                                <div class="team-hover">
                                    <div class="desk">
                                      <h4 style="color:#ffffff;">Operations</h4>
                                      <p style="color:#ffffff;">Based in the U</font></p>
                                    </div>
                                    <div class="s-link">
                                        <a href="#"><font color="#8980fe"><i class="fa fa-facebook"></i></font></a>
                                        <a href="#"><font color="#8980fe"><i class="fa fa-twitter"></i></font></a>
                                        <a href="#"><font color="#8980fe"><i class="fa fa-google-plus"></i></font></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-title">
                              <h5 style="color:#ffffff;">Harry Hanlon</h5>
                              <span style="color:#ffffff;">Operations</span>
                            </div>
                        </div>

                    </div>

                </div>
