<div class="container">
                    <div class="row">
                        <div class="heading-title text-center">
                          <h3 class="text-uppercase"><font color: "#8980fe">Team</font></h3>
                            <p class="p-top-30 half-txt"><font color: "white">Our team is diverse and spans across 3 continents. We are passionate about technology and the benefits it has on society. </font></p><
                        </div>

                        <div class="col-md-4 col-sm-4">
                            <div class="team-member">
                                <div class="team-img">
                                    <img src="https://www.kickico.com/assets/_images/10931/a641a1acbf7acc5.jpeg">
                                </div>
                                <div class="team-hover">
                                    <div class="desk">
                                      <h4><font color: "#ffffff">Finance</font></h4>
                                      <p><font color: "#ffffff">Born in South Africa</font></p>
                                    </div>
                                    <div class="s-link">
                                        <a href="#"><font color="#8980fe"><i class="fa fa-facebook"></i></font></a>
                                        <a href="#"><font color="#8980fe"><i class="fa fa-twitter"></i></font></a>
                                        <a href="#"><font color="#8980fe"><i class="fa fa-google-plus"></i></font></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-title">
                              <h5><font color: "#ffffff">Tiaan Basson</font></h5>
                                  <span><font color: "#ffffff">Founder / CEO</font></span>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="team-member">
                                <div class="team-img">
                                    <img src="https://www.kickico.com/assets/_images/10931/0c7689aa79ae27c.jpeg">
                                </div>
                                <div class="team-hover">
                                    <div class="desk">
                                      <h4><font color: "#ffffff">Tech</font></h4>
                                      <p><font color: "#ffffff">From the US</font></p>
                                    </div>
                                    <div class="s-link">
                                        <a href="#"><font color="#8980fe"><i class="fa fa-facebook"></i></font></a>
                                        <a href="#"><font color="#8980fe"><i class="fa fa-twitter"></i></font></a>
                                        <a href="#"><font color="#8980fe"><i class="fa fa-google-plus"></i></font></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-title">
                              <h5><font color: "#ffffff">Erich Wassermann</font></h5>
                              <span><font color: "#ffffff">Co-Founder / CTO</font></span>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="team-member">
                                <div class="team-img">
                                    <img src="https://www.kickico.com/assets/_images/10931/d04c42257e4d7e4.jpeg">
                                </div>
                                <div class="team-hover">
                                    <div class="desk">
                                      <h4><font color: "#ffffff">Operations</font></h4>
                                      <p><font color: "#ffffff">Based in the UK</font></p>
                                    </div>
                                    <div class="s-link">
                                        <a href="#"><font color="#8980fe"><i class="fa fa-facebook"></i></font></a>
                                        <a href="#"><font color="#8980fe"><i class="fa fa-twitter"></i></font></a>
                                        <a href="#"><font color="#8980fe"><i class="fa fa-google-plus"></i></font></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-title">
                              <h5><font color: "#ffffff">Harry Hanlon</font></h5>
                              <span><font color: "#ffffff">Operations</font></span>
                            </div>
                        </div>

                    </div>

                </div>
